<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= (typeof currentPath !== 'undefined' && currentPath === '/') ? 'active' : '' %>" href="/">Home</a></li>
            <li class="main-header__item"><a class="<%= (typeof currentPath !== 'undefined' && currentPath === '/users') ? 'active' : '' %>" href="/users">Users</a></li>
        </ul>
    </nav>
</header>
